/* You can add global styles to this file, and also import other style files */
/*@import "assets/variables";*/
/*@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';*/
@import 'assets/utils';
@import 'assets/palette';
@import 'assets/normalize.css';
@import 'assets/bulma.css';

body {
	background: palette(black, 200);
}
.loading-spinner{
	position: fixed;
	height: 100%;
	width: 100%;
	.loading-image{
		width: 10rem;
		height: 10rem;
	}
	animation: fadein 1s ease-in-out infinite alternate;
}
markdown *{
	margin-top: 1rem;
	&:first-child{
		margin-top: 0;
	}
}