/* You can add global styles to this file, and also import other style files */
/*@import "assets/variables";*/
/*@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';*/
@import 'assets/utils';
@import 'assets/palette';
@import 'assets/normalize.css';
@import 'assets/bulma.css';

body {
	background: palette(black, 100);
}
.loading-spinner{
	position: fixed;
	height: 100%;
	width: 100%;
	// @include flex-center;
	.loading-image{
		width: 10rem;
		height: 10rem;
	}
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}