<div class="blog-post card-section card small-12"> 
	<ul class="meta">
		<li class="date">JANUARY 2017</li>
		<span class="separator"></span>
		<li class="category">EDUCATION</li>
	</ul>
	<h3 class="title">Post Title</h3>
	<p>snippet</p>
	<a href="/">read</a>
</div>