<div class="grid-x portfolio">
	<div class="cell small-12 medium-6 portfolio-image-wrapper">
		<img class="portfolio-image" src="<%=project.image%>"/>
	</div>
	<div class="cell small-12 medium-6 description-wrapper">
		<h3 class="project-name"><%=project.title%></h3>
		<hr/>
		<p class="description"><%=project.description%></p>
		<a class="button visit-site os" target="_blank" href="<%=project.link%>">Visit Site</a>
	</div>
</div>