<% if(typeof color != 'undefined'){ %>
<ul class="social menu align-center help <%=color%>">
	<% } else { %>
	<ul class="social menu align-center <%=typeof color%>">
		<% } %>
		<li class="social-link">
			<a href="https://github.com/optykan" target="_blank" aria-label="github" rel="noopener">
				<span data-tooltip data-position="bottom" data-alignment="center" tabindex="1" title="github">
					<i class="ion ion-social-github"></i>
				</span>
			</a>
		</li>			
		<li class="social-link">
			<a href="mailto:s292yang@uwaterloo.ca" aria-label="email" rel="noopener">
				<span data-tooltip data-position="bottom" data-alignment="center" tabindex="1" title="e-mail">
					<i class="ion ion-ios-email-outline"></i>
				</span>
			</a>
		</li>	
		<li class="social-link">
			<a href="/misc/[Release] Resume.pdf" aria-label="resume" rel="noopener">
				<span data-tooltip data-position="bottom" data-alignment="center" tabindex="1" title="resume">
					<i class="ion ion-document-text"></i>
				</span>
			</a>
		</li>
	</ul>