<div class="hero-text-component">
	<h1 class="is-size-1">Hi there!</h1>
	<hr class="hero-text-separator"/>
	<p>I'm Sam, a 20 year old CS student at the University of Waterloo.</p>
	<p>Check out some of the stuff I've done!</p>
	<div class="action-row">
		<component-button link="/projects" text="Projects" isOutlined="true" isInverted="true"></component-button>
		<component-button link="/assets/misc/[Release] Resume.pdf" text="Resume" isOutlined="true" isInverted="true"></component-button>
	</div>
</div>
