@import "../../../../assets/utils";

.hero-text-component{
	text-align: center;
	color: palette(black, 100);
	.hero-text-separator {
		@include white-separator;
		width: 15rem;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}	
}
