$palette: (
	black: (
		900: #222222,
		800: #404b5a,
		700: #6e7a8a,
		600: #929fb1,
		500: #aebecd,
		400: #ccd4db,
		300: #d5dde5,
		200: #e1e7ec,
		100: #f8f9fa
	),
	primary: (
		900: #0e27ac,
		800: #2039b8,
		700: #364bbc,
		600: #465ccc,
		500: #5c70da,
		400: #7484dc,
		300: #99a4dd,
		200: #c0c7ec,
		100: #dbe1ff
	)
);