@import "../../../assets/utils";
@import "../../../assets/palette";

.post-header{
	position: absolute;
	top: 2rem;
	left:0;
	z-index:99;
	display: flex;
	width: 100%;
	.component-logo{
		// position: absolute;
		margin-left: 1rem;
		// z-index:99;
	}
	.home-button{
		margin-left: auto;
		margin-right: 2rem;
	}
} 
.hero-content{
	z-index:99;
	.title{
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 5rem;
		color: palette(black, 200);
	}
}
.meta{
	text-align: right;
	margin-bottom: 5rem;
	.count{
		color: palette(primary, 600);
		font-weight: bold;
	}
	.date{
		color: palette(black, 800);
		text-transform: uppercase;
	}
	.back-button{
		margin-top: 2rem;
		display:block;
	}
}
.post-hero{
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 60vh;
	position:relative;
	@include dim(0.5);
	box-shadow: $default-box-shadow;
	border-bottom-left-radius: 200% 25%;
	border-bottom-right-radius: 200% 25%;
	&::after{
		border-bottom-left-radius: 200% 25%;
		border-bottom-right-radius: 200% 25%;
	}
}
.post-content{
	margin-top:10rem;
	box-shadow: $default-box-shadow;
	.post-body{
		padding: 0 5rem;
		margin-bottom: 5rem;
		&.loading{
			animation: fadein 0.75s ease-in-out infinite alternate;
			font-size: 3rem;
			font-weight: bold;
		}
	}
}