@import '../../../assets/utils';

.button{
	@include user-transition(all);
	padding: 0;
	a{
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
		color: palette(black, 100);
	}
	&.is-outlined.is-inverted:hover a{
		color: palette(black, 800);
	}
}