<div class="columns post-preview is-gapless" [class.reverse]="reverse">
	<div class="column is-5 post-left columns">
		<div class="column post-content" [ngClass]="{ 'is-offset-4': !reverse }">
			<h1 class="post-number is-size-3">/{{paddedNumber}}.</h1>
			<h1 class="post-title is-size-3">{{post.title}}.</h1>
			<p class="post-snippet">{{post.snippet}}</p>
			<component-button class="read-more" link="/post/{{post.link}}" text='Read More'></component-button>
		</div>
		<div class="column is-4" *ngIf="reverse"></div>
	</div>
	<div class="column is-7 post-right" style="background-image: url('https://picsum.photos/1000')">&nbsp;</div>
</div>