@import '../../../../assets/utils';

.post-preview{
	// display:flex;
	background: palette(black, 100);
	.post-number{
		color: palette(primary, 500);
		@include until($tablet){ 
			color: palette(black, 100); 
		}
		margin-bottom: 0;
		position:relative;
		&::before{
			content: '/';
			position:absolute;
	    left: -5px;
	    top: 5.5px;
	    font-size: 28px;
		}
		/*&::after{
			content: '/';
			position:absolute;
	    left: 0px;
	    top: 5.5px;
	    font-size: 28px;
		}*/
	}
	.post-title{
		text-transform: uppercase;
		font-weight: 700;
		@include until($tablet){
			color: palette(black, 100);
		}
	}
	.technologies {
		text-transform: uppercase;
		@include until($tablet){
			color: palette(black, 100);
		}
	}
	.post-left{
		position: relative;
		@include from($tablet){
			background-image: none !important; 
		}
		@include until($tablet){
			@include dim(0.5);
		}
		.post-content{
			position: relative;
			z-index: 99;
			padding: 5rem;
			@include from($tablet){
				padding: 5rem 0;
			}
			.read-more + .live {
				margin-left: 1rem;
			}
		}
		.post-snippet{
			margin: 1rem 0;
			@include until($tablet){
				color: palette(black, 100);
			}
		}
	}
	.post-right{
		// image
		background-size: cover; 
		background-position: center;
		@include until($tablet){
			// height: 10rem;
			// box-shadow: $default-box-shadow;
			display: none;
		}
		@include from($tablet){
			clip-path: ellipse(100% 175vh at 110% 0%);
		}
	}
	&.reverse{
		flex-direction: row-reverse;
		.post-right{
			@include from($tablet){
				clip-path: ellipse(100% 175vh at -10% 0%);		
			}
		}
	}
	&:last-child{
		box-shadow: $default-box-shadow;
	}
}