<% var stylesheets = ['/stylesheets/bundle/bundle-error.css'] %>
<% include partials/header %>
<% include partials/navbar %>
<div class="grid-x parallax" id="error">
	<div class="parallax-group header-section">
		<div class="parallax-layer parallax-back hero-header"></div>
		<div class="cell small-12 parallax-layer parallax-base header-text">
			<h1 class="header-title"><%=error.status%>.</h1>
			<hr class="small-divider white"/>
			<p class="os"><%=message%></p>
		</div>
	</div>
	<section class="parallax-static section-content">
		<div class="section about">
			<h5 class="section-header">Stacktrace</h5>
			<p class="os text-center">
				<pre><%=stacktrace%></pre>
			</p>
		</div>
	</section>
</div>
<% var scripts=['/javascripts/bundle-home.js'] %>
<% include partials/footer%>
