@import '../../../../assets/utils';

#blog-header{
	position: relative;
	.header-wrapper{
		margin: 0;
	}
	.blog-title{
		text-transform: uppercase;
		font-weight: 700;
			&::after{
			content: '.';
			animation: fadein 0.75s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
		}
	}
	.blog-separator{
		@include black-separator;
		width: 10rem;
		margin-top: 0.25rem;
		margin-bottom: 1.5rem;
	}
	.blog-header-content{
		padding: 15rem 0;
		// margin-left: 6rem;
	}
	.blog-subheader{
		// color: palette(primary, 500);
	}
	.blog-wrapper{
		padding-left: 10rem;
	}
	.project-wrapper{
		margin-left: 1.5rem;
		padding: 15rem 0rem;
		padding-right: 10rem;
		@include user-transition(background);
		&:hover{
			cursor: pointer;
			background: palette(black, 300);
		}
		.project-header-content{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			color: palette(black, 600);
			text-align: right;
			padding-left: 5rem;
			.project-title{
				text-transform: uppercase;
				font-weight: bold;
				@include user-transition(all);
			}
			.blog-subheader{
				@include user-transition(all);
			}
		}
		&:hover{
			.project-header-content{
				color:palette(black, 800);
			}
			.project-separator{
				@include black-separator;
			}
		}
		.project-separator{
			@include separator(palette(black, 600));
			width: 10rem;
			margin-top: 0.25rem;
			margin-bottom: 1.5rem;
			@include user-transition(all);
		}
	}
	.component-logo{
		position: absolute;
		top: 2rem;
		left: 1rem;
	}
	.home-button{
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
}