@import '../../../../assets/utils';

#blog-header{
	// border-bottom: 1px solid palette(black, 800);
	box-shadow: $default-box-shadow;
	padding-bottom: 12px;
	position: relative;
	.header-wrapper{
		padding-top: 2rem;
		.component-logo{
			position: absolute;
			left: 1rem;
		}
		.home-button{
			position: absolute;
			right: 2rem;
		}
	}
	.hero-wrapper{
		margin: 0;
		margin-top: -2rem;
	}
	.blog-title{
		text-transform: uppercase;
		font-weight: 700;
			&::after{
			content: '.';
			animation: fadein 0.75s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
		}
	}
	.blog-separator{
		@include black-separator;
		width: 10rem;
		margin-top: 0.25rem;
		margin-bottom: 1.5rem;
	}
	.blog-header-content{
		padding: 15rem 0;
		// margin-left: 6rem;
	}
	.blog-subheader{
		// color: palette(primary, 500);
	}
	.blog-wrapper{
		padding-left: 10rem;
	}
	.project-wrapper{
		//it says project but I really meant right side
		margin-left: 1.5rem;
		padding-top: 15rem;
		padding-bottom: 15rem;
		padding-left: 0rem;
		padding-right: 10rem;
		@include user-transition(background);
		@include until($tablet){
			margin-left: 0;
			padding: 5rem;
			border-top: 1px solid palette(black, 400);
		}
		&:hover{
			cursor: pointer;
			background: palette(black, 300);
		}
		.project-header-content{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			color: palette(black, 600);
			text-align: right;
			padding-left: 5rem;
			padding-top: 1rem;
			@include until($tablet){
				// padding-left: 5rem; 
				align-items: flex-start;
			}
			.project-title{
				text-transform: uppercase;
				font-weight: bold;
				@include user-transition(color);
				@include until($tablet){
					&::after{
						content: '>';
						margin-left: 1rem;
						animation: fadein 1s alternate infinite;
					}
				}
			}
			.project-subheader{
				margin-top: 1rem;
				@include user-transition(color);
			}
		}
		&:hover{
			.project-header-content{
				color:palette(black, 800);
			}
		}
	}
}